* {
    font-family: 'Lato', sans-serif;
}

/* Grid */
.grid {
    background-image: url("../img_src/wall4/wall4.png");
}

/* Header */
.header-logo {
    width: 70px;
    padding-top: 10px;
    padding-left: 10px;
}

.header-title {
    text-align: right;
}

header {
    align-items: center;
}

header h1,
header h2 {
    margin: 0;
    padding-right: 5px;
    text-transform: uppercase;
}

header h1 {
    font-size: 1.2em;
    font-weight: 300;
    color: #bcbbbb;
}

header h2 {
    font-size: 0.6em;
}


/* Central part (containing the 'theme' image */
.theme-image {
    width: 100vw;
    height: 200px;
    max-height: 400px;
}

/* main */
main {
    width: 100%;
    max-width: 1041px;
}

main img {
    width: 100%;
    height: 150px;
}

main picture {
    width: 100%;
    height: 100%;
}

main h3 {
    padding-left: 20px;
    color: #bcbbbb;
    font-size: x-large;
    font-weight: 400;
    padding-top: 5px;
    margin-bottom: 10px;
}

section h4,
section h5 {
    text-align: center;
    color: #747704;
}

section h4 {
    font-size: x-large;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

section h5 {
    margin: 5px 0 50px 0;
}

section a {
    font-weight: 300;
    color: #747704;
    text-decoration: none;
}

.project-1,
.project-2,
.project-3 {
    width: 100vw;
}

@media screen and (min-width: 415px) {
    .header-logo {
        width: 120px;
    }

    header h1 {
        font-size: 1.8em;
    }

    header h2 {
        font-size: 0.8em;
    }

    main img {
        max-width: 200px;
        max-height: 150px;
        border-radius: 50%;
    }

    .project-1,
    .project-2,
    .project-3 {
        width: 415px;
        text-align: center;
        margin: 0 auto 0 auto;
    }

    section h4 {
        font-size: xx-large;
    }
}

 /* Media queries */
@media screen and (min-width: 415px) {
    main h3 {
        margin-top: 30px;
        color: #bcbbbb;
        font-size: xx-large;
    }


}

@media screen and (min-width: 601px) {
    .header-logo {
        width: 150px;
    }

    .project-1,
    .project-2,
    .project-3 {
        width: 50%;
        margin: 0 0 0 0;
    }

    header h1 {
        font-size: 3em;
    }

    header h2 {
        font-size: 1.2em;
    }

    .theme-image {
        height: 300px;
    }

    main img {
        width: 270px;
        height: 200px;
    }
}

@media screen and (min-width: 940px) {
    header h1 {
        font-size: 4em;
    }

    header h2 {
        font-size: 1.6em;
    }

    .project-1,
    .project-2,
    .project-3 {
        width: 33.33%;
    }

    .theme-image {
        height: 400px;
    }
}

@media screen and (min-width: 1040px) {
    main {
        margin: 0 auto 0 auto;
    }
}